.features-list {
    display: flex;

    & .item {
      display: inline-block;
      width:calc((100%-30*3)/4);

      &:not(:last-child) {
        margin-right: 30px;
      }

      &::before {
        display: block;
        content: "";
        height: 120px;
        border-radius: 4px;
        background-color: #f5f4fa;
        background-size: 70px;
        background-repeat: no-repeat;
        background-position: center;
      }
    }

    & .text {
    margin-top: 10px;
    margin-bottom: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
     }
    }
    
.icon {
  &-antenna::before {
    background-image: url(../icons/antenna.svg);
  }
  &-clock::before {
    background-image: url(../icons/clock.svg);
  }
  &-diagram::before {
    background-image: url(../icons/diagram.svg);
  }
  &-astronaut::before {
    background-image: url(../icons/astronaut.svg);
  }
}
