
    $primary-text-color: #757575;
    $title-text-color: #212121;
    $acent-color: #2196F3;
    $wight: #fff;
    $secondary-bg-color: #f5f4fa;
    $footer-bg-color: #2f303a;
    $hero-gradient: rgba(0, 0, 0, 0.25);
    $join-link-bg: rgba(255, 255, 255, 0.1);
    $clients-link-color: #afb1b8; 